* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-logo {
    margin: 80px;
    box-shadow: black;
}

.field {
    
    border: none;
    display:flex;  
    
}
.entry input {
    margin:0 0 30px 60px;
    display: inline;
    width: 30px;
}


.field1 {
    border: 0;
    margin-left: 4em;
    display: inline-block;
    flex-direction:column;

}

.inputCodigo {

    width: 5em;
}


.inputTicket {

    width: 5em;
}


.inputTombo {

    width: 5em;
}

.hostname{

    width: 5em;
}

.field2 {
    width: 100px;
    margin-left: 5%;
    top: 200px;
    border: 0;
    display: inline-block;
    flex-direction:row;

}

.campo [type="date"] {

    width: 60%;
}


#titulo {
    color: #00995d;
    margin:2% 0 1% 5%;
}

#subtitulo {
    color: #00995d;
    margin-left: 13%;
    padding-bottom: 1% ;
    
}



input,
select,
textarea,
button {
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 5px;
}

.campo {
    margin-left: 5%;
    margin-bottom: 1em;
}

.campo label {

    margin-bottom: 0.3em;
    color: grey;
    display: flex;
}

.grupo .campo {
    float: left;
   

}

.campo input[type="text"],
.campo input[type="number"],
.campo input[type="date"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
}
 .campo select option {
    padding-right: 1em;
 }

 .campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

input {
    
    width: 500px;

}

.campo textarea, .observacaoTextArea {
    margin-left: 19px;
}


.botao  {
    width: auto;
    margin: 10px 0 0 60%;
    top: -102px;
    font-size: 1.2em;
    background:#00995d;
    border: 0;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    display: inline-block;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao {
    cursor: pointer;
}


.flooter {
    padding: 30px;
    width: 98.8vw;
    height: 3vh;
    background:#00995d;
    color: white;
    text-align: center;
    
}