* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
}

.header-logo {
    margin: 10px 30px;

}


.left-interface {

    display: inline;
    margin: 0 30px 0 30px;
    margin-top: 10rem;
    top: 80px;
    width: 15vw;
    height: 30vh;
    position: absolute;
    border-radius: 10px;

}

.left-interface label {
    margin: 10px;
    text-align: center;
}

.left-interface input {
    margin: 15px 0 0 25px;
    text-align: center;
}

.btOK {
    width: 80px;
    height: 30px;
    margin: 40px;
    border-radius: 10px;
    border: none;
    background-color: grey;
}

/*-----------------div LATERAL CENTRO------------*/

.center-interface {
    
    width: 55vw;
    height: 95vh;
    margin: 10px;
    padding: 30px;
    left: 20%;
    font-size: 14px;
    position: relative;
    display: inline-block;
    background-color: aqua;
}

.header-title {
    text-align: center;
    font-size: 12px;
    color: fffffff;
    margin: 0 0 20px 0;
     
}

.inputCodigo {
    width: 5em;
}

.inputTicket {

    width: 10em;
}


.inputTombo {

    width: 20em;
}





.flooter {
    text-align: center;
    font-size: 8px;
    margin: 10px;
}